@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh thanh cuộn cho đẹp hơn */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #f8fafc; /* Slate-50: Màu nền bệnh viện sạch sẽ */
  color: #0f172a; /* Slate-900: Màu chữ đen đậm chuyên nghiệp */
  -webkit-font-smoothing: antialiased;
}

@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
    color: black !important;
    font-family: Arial, sans-serif !important;
  }

  .no-print {
    display: none !important;
  }

  table {
    border-collapse: collapse !important;
    width: 100% !important;
  }

  th,
  td {
    border: 1px solid black !important;
    padding: 4px !important;
  }
}
